body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


